.courseheader {
	text-align: center;

	&--spaced {
		margin-top: rem-calc( 32 );
	}

	&__inner {
		@include xy-grid-container;
	}
	
	&__title {
		@include visuallyhiddentext();
		display: flex;
		justify-content: center;
		img {
			max-width: 80%;
			max-height: rem-calc( 60 );
		}
	}

	&__context-info {

	}

	&__tagline {

	}

	&__introtext {
		font-style: italic;
		max-width: rem-calc( 900 );
		margin: 0 auto;
	}

	@include breakpoint( medium ) {
		&--spaced {
			margin-top: rem-calc( 64 );
		}

		&__title {
			img {
				min-width: rem-calc( 300 );
				max-width: rem-calc( 590 );
				max-height: rem-calc( 120 );
			}

		}

		&__introtext {
			font-size: $lebo-introtext-size;
		}
	}

	@include breakpoint( large ) {
		margin-bottom: rem-calc( 64 );

		&--spaced {
			margin-top: rem-calc( 96 );
		}

		&__title {
			img {
				min-width: rem-calc( 600 );
			}

			&--home {
				img {
					min-width: unset;
					max-width: rem-calc( 590 );
					max-height: unset;

				}
			}
		}

		&__context-info {
			font-size: rem-calc( 48 );
		}

		&__tagline {
			font-size: rem-calc( 48 );
			font-weight: $global-weight-bold;
		}
	}
}