.footer {
	background-color: $primary-color;
	color: $white;
	padding: rem-calc( 36 0 );

	a {
		color: $white;
	}

	&__inner {
		@include xy-grid-container();
		@include xy-grid;
	}

	&__col {
		@include xy-cell();
		margin-bottom: rem-calc( 32 );
		text-align: center;

		&--middle {
			display: flex;
			flex-flow: column nowrap;
			// text-align: center;
			align-items: center;
			// order: -1;

			p {
				max-width: rem-calc( 240 );
				text-align: center;
			}
		}
	}

	&__title {
		font-size: rem-calc( 22 );
	}

	@include breakpoint( large ) {
		margin-top: 2*$lebo-section-spacing;
		&__col {
			@include xy-cell( 4 );
			margin-bottom: 0;
			text-align: left;

			&--middle {
				order: unset;
			}

			&--separated {
				border-left: 1px solid $white;
				padding-left: rem-calc( 100 );
			}
		}
	}
}